---
- name: Create the redhatgov.io/v1alpha1.Sonarqube
  k8s:
    state: present
    namespace: '{{ namespace }}'
    definition: "{{ lookup('template', '/'.join([samples_dir, cr_file])) | from_yaml }}"
    wait: yes
    wait_timeout: 300
    wait_condition:
      type: Running
      reason: Successful
      status: "True"
  vars:
    cr_file: 'redhatgov_v1alpha1_sonarqube_molecule.yaml'

# TODO:
#   - Setup nginx Ingress before application
#   - Retrieve ingress URI
#   - Validate that SonarQube can be reached
#   - Validate SonarQube can be used

# - name: Add assertions here
#   assert:
#     that: false
#     fail_msg: FIXME Add real assertions for your operator
